---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Socials from "../components/Socials.astro";
import Dates from "../components/Dates.astro";
import Videos from "../components/Videos.astro";
import Pics from "../components/Pics.astro";
import Notable from "../components/Notable.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Header />
  <main>
    <Hero />
    <Socials />
    <Dates />
    <Videos />
    <Pics />
    <Notable />
    <Contact />
  </main>
  <Footer />
</Base>
